.about-company  {
    padding-top: calc(var(--SectionPadding) + 50px);
    padding-bottom: calc(var(--SectionPadding) + 50px);
    position: relative;
}
.about-company img,
.about-company .text {
    flex: 1;
}
.about-company .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:767px) {
    .about-company  {
        text-align: center;
    }
    .about-company .container {
        flex-direction: column;
    }
}
.about-company img {
    max-width: 100%;
    width: 50%;
    margin-right: 50px;
}
.about-company .text {
    position: relative;
    z-index: 2;
}
.about-company .text h2 {
    position: relative;
    margin-bottom: 30px;
}
.about-company .text h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 120px;
    height: 2px;
    background-color: var(--mainColor)
}
.text h1 span {
    color: #62C2C2 !important;
}
@media (max-width:767px) {
    .text h1 {
        font-size: 25px;
    }
    .about-company .text h2::before {
        display: none;
    }
    .about-company img {
        margin-bottom: 30px;
    }
}
.about-company .text h1 {
    color: #282828;
}
.about-company .text h1 span {
    color: #FF6262;
}
.about-company .text p {
    line-height: 1.8;
    margin:25px 0;
    color: rgba(0, 0, 0, .6);
}